.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid white;
    color: #fff;
}

.navbar-brand{
    font-size: 3rem;
    color: #fff !important;
    padding: 0px 60px;
}

.navbar-brand span{
    font-size: 1.5em;
    color: var(--main);
    font-weight: 600;
}

.navbar-nav{
    padding: 0px 60px;
    margin-top: 50px;
}

.nav-link{
    color: #fff !important;
    margin-left: 5px;
}
.nav-link:hover, 
.nav-link.active{
    color: var(--main) !important;
}