@import url('https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap');


:root{
    --main: #6bff02fa;
}

*{
    transition: 0.3s;
    font-family: 'Proza Libre', sans-serif;
}
body{
    background: black;
    color: white;
}

*::selection{
    background: var(--main);
    color: #fff;
}